@import "@gentoo/tyrian/dist/tyrian.css";
/* @import "bootstrap/scss/bootstrap.scss"; */
/* @import "bootstrap-icons/font/bootstrap-icons.scss"; */

/* @import "./variable.scss"; */

.site-header {
  background-color: #eee;
}

/*
body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}
*/
